<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<style>
  .card {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 20px;
  }
  </style>

<link rel="stylesheet" href="{% static 'css/login.css' %}">


  <title>Document</title>
</head>
<body>
  <div class="card" style="width: 20rem;", align="center">
    <div class="card-body",align="center">
   
    <h1>please login</h1>
    <form action="{% url 'basic_app:user_login' %}" method="post",align="center">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder='enter Username'>
      <label for="password"></label>
      <br>
      <br>
      <label for="password">Password</label>
      <input type="password" name="password" value="", placeholder='enter Password'>
      <br>
      <a href="{% url 'basic_app:register' %}">register here</a>
      <br>
      <input type="submit" name="" value="log in">
  
    </form>
  
  </div>
  </div>
</body>
</html>